/*
    Document   : css/quoteMeStyler．css
    Created on : 2014-12-06 10:49 PM
    Author     : bluechiptony
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

li{
    list-style:none;
    
}

#authorsAlone{
    padding-top:90px;
    width:250px;
    float:left;
    
}


#addAuthorsDiv{
    padding-top:120px;
    width:250px;
    float:left;
    
}


#centerContent{
    width:700px;
    float:left;
    margin-right:20px;
}