<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE html>
<html lang="en" ng-app="quoteMe">
<head>
    <title>Famous Quotes Powered by Angular Js</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="js/quoteme.js"></script>
    <link rel="stylesheet" href="css/quoteMeStyler.css" type="text/css">
</head>
<body ng-controller='quoter'>
    
    <div id="authorsAlone">
        <p>Search by Author: <input ng-model="search" placeholder="Type authors name to view quotes"/></p>
        
        Authors: 
        <ul>
        <li><a href="" ng-click="reloadData()">All</a>
        </li>
        </ul>
        <ul ng-repeat="quote in searchable | filter: search ">
           <li><a href="#"  ng-click="loadForAuthor(quote.Author)">{{quote.Author}}</a></li>
        </ul>
    </div>
    <div id="centerContent">
        hello {{'Quote '+'fans !!'}}<br/>


        
<p>Search by Quote: <input ng-model="searchq" placeholder="Type `your search string"/></p>
        
        List Of Quotes:<br/>
        <ul ng-repeat="quote in quotes | filter: searchq">
            <li>"<i>{{quote.quote}}"</i></li>
            <li><b>-{{quote.Author}}</b></li>
        </ul>
        
        
        
    </div>
    <div id="addAuthorDiv">
        Add Author
        <form ng-submit="addAuthor()">
            <div id="poss_errrors"></div>
            <p>Author's Name: <input type="text" ng-model="quote.Author" class="textBox" id="authName"/></p>
            <p>Author's Quote: <textarea ng-model="quote.quote" class="textArea" id="authQuote"></textarea></p>
            <p><button>Add Author</button></p>
        </form>
    </div>
    
</body>
</html>